

.context h1{
    text-align: center;
    color: #52ff3e;
    font-size: 35px;
    font-weight: 500;
    padding: 0px 10px 100px;
}


.area{
    background: #2e5800;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    }